/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/internal/log/
/tmp/
/log/

# rspec failure tracking
.rspec_status
.ruby-version
Gemfile.lock
.circleci/config.processed.yml

/gemfiles/*.gemfile.lock
/gemfiles/.bundle
*.sqlite3